:root {
    --text-Grey: #8F9095;
    --text-color: #1D222B;
    --span-color:#FF957B;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    margin: 25px;
}
.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
header p span {
    color: var(--span-color);
}
.menuDesk{
    display: none;
}
.menuBurger{
    display: inline;
}
.menuBurger svg {
    width: 34px;
    height: 34px;
}
h1 {
    font-size: 42px;
    font-weight: bold;
}
.text22 {
    font-size: 22px;
    font-weight:normal;
}
.textGrey {
    color:var(--text-Grey);
    padding-top: 4vh;
    margin: 0;
}

.divText{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.divA{
    text-align: center;
    padding-top: 4vh;
}
a {
    display: inline;
    text-decoration: none;
    font-size: 13px;
    font-weight:500;
    color: white;
    background-color: var(--text-color);
    border-radius: 20px;
    padding: 1vh 2vh;
}